<a href="https://colab.research.google.com/github/GouriES/Basic-Python-Codes/blob/main/Patterens_in_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Different Types of Asterisk(*) Patterens in Python

## Square

In [ ]:
n=7
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

## Right Triangle

In [ ]:
n=7
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

## Left Triangle

In [ ]:
n=7
for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")

  for j in range(i+1):
    print("*",end=" ")

  print()

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

## Right Downward Triangle

In [ ]:
n=7
for i in range(n):
  for j in range(i,n):
    print("*", end=" ")
  print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## Left Downward Triangle

In [ ]:
n=7
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range(i,n):
    print("*", end=" ")

  print()

  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

## Pyramid

In [ ]:
n=7
for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")

  for j in range(i+1):
    print("*",end=" ")

  for j in range(i):
    print("*", end=" ")
  print()

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

## Downward Pyramid

In [ ]:
n=7
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range(i,n):
    print("*", end=" ")

  for j in range(i+1,n):
    print("*", end=" ")

  print()

  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *

## sandglass

In [ ]:
n=7
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range(i,n):
    print("*", end=" ")

  for j in range(i+1,n):
    print("*", end=" ")

  print()

for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")

  for j in range(i+1):
    print("*",end=" ")

  for j in range(i):
    print("*", end=" ")
  print()

  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

## Diamond

In [ ]:
n=7

for i in range(n-1):
  for j in range(i,n):
    print(" ", end=" ")

  for j in range(i+1):
    print("*",end=" ")

  for j in range(i):
    print("*", end=" ")
  print()

for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")

  for j in range(i,n):
    print("*", end=" ")

  for j in range(i+1,n):
    print("*", end=" ")

  print()

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *

## Left Pascal's Triangle

In [ ]:
n=7
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print()
for i in range(n-1):
  for j in range(i,n-1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## Hollow Left Pascal's Triangle

In [ ]:
n=7
for i in range(n):
  for j in range(i+1):
    print(" ", end=" ")

  for j in range(i,n):
    print("*", end=" ")
  print()

for i in range(n-1):
  for j in range(i+1,n):
    print(" ", end=" ")
  for j in range(i+2):
    print("*", end=" ")

  print()

  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

## Right Pascal's Triangle

In [ ]:
n=7
for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")

  for j in range(i+1):
    print("*",end=" ")

  print()

for i in range(n):
  for j in range(i+2):
    print(" ",end=" ")

  for j in range(i,n-1):
    print("*", end=" ")

  print()

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

## Hollow Diamond

In [ ]:
n=7

for i in range(n-1):
  for j in range(i,n):
    print("*", end=" ")

  for j in range(i):
    print(" ",end=" ")

  for j in range(i+1):
    print(" ", end=" ")

  for j in range(i,n):
    print("*", end=" ")
  print()

for i in range(n):
  for j in range(i+1):
    print("*",end=" ")

  for j in range(i,n):
    print(" ", end=" ")

  for j in range(i+1,n):
    print(" ", end=" ")

  for j in range(i+1):
    print("*", end=" ")

  print()

* * * * * * *   * * * * * * *
* * * * * *       * * * * * *
* * * * *           * * * * *
* * * *               * * * *
* * *                   * * *
* *                       * *
*                           *
* *                       * *
* * *                   * * *
* * * *               * * * *
* * * * *           * * * * *
* * * * * *       * * * * * *
* * * * * * *   * * * * * * *

## Double Pyramid

In [ ]:
n=7
for i in range(n):
  for j in range(i,n):
    print(" ", end=" ")

  for j in range(i):
    print("*",end=" ")

  for j in range(i+1):
    print("*",end=" ")

  for j in range(i,n-1):
    print(" ", end=" ")

  for j in range(i,n-1):
    print(" ", end=" ")

  for j in range(i):
    print("*",end=" ")

  for j in range(i+1):
    print("*",end=" ")
  print()

              *                         *
            * * *                     * * *
          * * * * *                 * * * * *
        * * * * * * *             * * * * * * *
      * * * * * * * * *         * * * * * * * * *
    * * * * * * * * * * *     * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * *

## Butterfly

In [ ]:
n=7
for i in range(n-1):
  for j in range(i+1):
    print("*", end=" ")
  for j in range(i,n-1):
    print(" ", end=" ")
  for j in range(i,n-1):
    print(" ", end=" ")
  for j in range(i+1):
    print("*", end=" ")
  print()

for i in range(n):
  for j in range(i,n):
    print("*", end=" ")
  for j in range(i):
    print(" ", end=" ")
  for j in range(i):
    print(" ", end=" ")
  for j in range(i+1,n+1):
    print("*", end=" ")

  print()

*                         *
* *                     * *
* * *                 * * *
* * * *             * * * *
* * * * *         * * * * *
* * * * * *     * * * * * *
* * * * * * * * * * * * * *
* * * * * *     * * * * * *
* * * * *         * * * * *
* * * *             * * * *
* * *                 * * *
* *                     * *
*                         *

# Indexing of Hollow pattern

<table>
<tr>
<th>
row col
</th>
<th>
row col
</th>
<th>
row col
</th>
<th>
row col
</th>

</tr>
<tr>
<td>i=0 j=0</td>
<td>i=0 j=1</td>
<td>i=0 j=2</td>
<td>i=0 j=3</td>
</tr><tr>
<td>i=1 j=0</td>
<td>i=1 j=1</td>
<td>i=1 j=2</td>
<td>i=1 j=3</td>
</tr><tr>
<td>i=2 j=0</td>
<td>i=2 j=1</td>
<td>i=2 j=2</td>
<td>i=2 j=3</td>
</tr><tr>
<td>i=3 j=0</td>
<td>i=3 j=1</td>
<td>i=3 j=2</td>
<td>i=3 j=3</td></tr>
</table>

1.   First Row : i = 0
2.   Last Row : i = n-1
3.   First Col : j = 0
4.   Last Col : j = n-1
5.   middle row or col: n//2 
6.   major Diagonal : i==j
7.   Left Diagonal : i+j == n-1

## Vertical Parallel line

In [ ]:
for i in range(n):
  for j in range(n):
    if j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*           *
*           *
*           *
*           *
*           *
*           *
*           *

## Horizontal Parallel line

In [ ]:
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *





* * * * * * *

## Box

In [ ]:
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

## Plus

In [ ]:
for i in range(n):
  for j in range(n):
    if i== n//2 or j==n//2:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
      *
      *
* * * * * * *
      *
      *
      *

## Cross

In [ ]:
for i in range(n):
  for j in range(n):
    if i+j == n-1 or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

## Reverse L

In [ ]:
for i in range(n):
  for j in range(n):
    if i==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
            *
            *
            *
            *
            *
            *

## Hollow Left Downward Triangle

In [ ]:
for i in range(n):
  for j in range(n):
    if i==0 or j==n-1 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
  *         *
    *       *
      *     *
        *   *
          * *
            *

## Right Corner upward Arrow

In [ ]:
for i in range(n):
  for j in range(n):
    if i==0 or j==n-1 or j+i==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
          * *
        *   *
      *     *
    *       *
  *         *
*           *

## L shape

In [ ]:
for i in range(n):
  for j in range(n):
    if i==n-1 or j==0:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
*
*
*
*
*
* * * * * * *

## Hollow Right Triangle

In [ ]:
for i in range(n):
  for j in range(n):
    if i==n-1 or j==0 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  
  print()

*
* *
*   *
*     *
*       *
*         *
* * * * * * *

## Left Corner downward Arrow

In [ ]:
for i in range(n):
  for j in range(n):
    if i==n-1 or j==0 or j+i==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*           *
*         *
*       *
*     *
*   *
* *
* * * * * * *

## Hollow Diamond

In [ ]:
n=7
# loops for upper part
for i in range(n+1):
  for j in range(n-i):
    print(" ", end=" ")
  for j in range(2*i):
    if j==1 or j==2*i-1:
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print()
# loops for lower part
for i in range(n-1,0,-1):
  for j in range(n-i+1):
    print(" ",end=" ")
  for j in range(1,2*i):
      if j==1 or j==2*i-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
  print()

              *
            *   *
          *       *
        *           *
      *               *
    *                   *
  *                       *
    *                   *
      *               *
        *           *
          *       *
            *   *
              *

## Hollow Heart Shape

In [ ]:
n = 10 # use even number
m = n+1
# loops for upper part
for i in range(n//2-1):
	for j in range(m):
		if i == n//2-2 and (j == 0 or j == m-1):
			print("*", end=" ")
		elif j <= m//2 and ((i+j == n//2-3 and j <= m//4) \
							or (j-i == m//2-n//2+3 and j > m//4)):
			print("*", end=" ")
		elif j > m//2 and ((i+j == n//2-3+m//2 and j < 3*m//4) \
						or (j-i == m//2-n//2+3+m//2 and j >= 3*m//4)):
			print("*", end=" ")
		else:
			print(" ", end=" ")
	print()

# loops for lower part
for i in range(n//2-1, n):
	for j in range(m):
		if (i-j == n//2-1) or (i+j == n-1+m//2):
			print('*', end=" ")
		elif i == n//2-1:
			print(' ', end=" ")
		else:
			print(' ', end=" ")			
	print()

    * *       * *
  *     *   *     *
*         *         *
*                   *
*                   *
  *               *
    *           *
      *       *
        *   *
          *

# Patterns With Numbers & Characters

In [ ]:
for i in range(n):
  for j in range(i+1):
    print(i+1,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [ ]:
for i in range(n):
  for j in range(i,n):
    print(i+1,end=" ")
  print()

1 1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3
4 4 4 4
5 5 5
6 6
7

In [ ]:
for i in range(n):
  for j in range(i+1):
    print(n-i,end=" ")
  print()

7
6 6
5 5 5
4 4 4 4
3 3 3 3 3
2 2 2 2 2 2
1 1 1 1 1 1 1

In [ ]:
a = 0
for i in range(1,n+1):
  for j in range(1, n+1-i):
    print(' ', end=' ')
  for j in range(i,0,-1):
    print(a+j, end=' ')
  for j in range(2,i+1):
    print(a+j, end=' ')
  print()

            1
          2 1 2
        3 2 1 2 3
      4 3 2 1 2 3 4
    5 4 3 2 1 2 3 4 5
  6 5 4 3 2 1 2 3 4 5 6
7 6 5 4 3 2 1 2 3 4 5 6 7

In [ ]:
a=65
for i in range(n):
  for j in range(i,n):
    print( "%c" % (a+i),end=" ")
  print()

A A A A A A A
B B B B B B
C C C C C
D D D D
E E E
F F
G

In [ ]:
a=65
for i in range(n):
  for j in range(i+1):
    print( "%c" % (a+i),end=" ")
  print()

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G

In [ ]:
a=65
for i in range(n+1):
  for j in range(1,i+1):
    print( "%c" %(a),end=" ")
    a+=1
  print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [ ]:
for i in range(1,n+1):
  a = 65
  for j in range(1, i+1):
    print("%c" %(a), end=" ")
    a +=1
  print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

In [ ]:
a=64
for i in range(1,n+1):
  for j in range(1, n+1-i):
    print(' ', end=' ')
  for j in range(i,0,-1):
    print( "%c" % (a+j), end=' ')
  for j in range(2,i+1):
    print( "%c" % (a+j), end=' ')
  print()

            A
          B A B
        C B A B C
      D C B A B C D
    E D C B A B C D E
  F E D C B A B C D E F
G F E D C B A B C D E F G